<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ATS*P - TOP</title>
    <th:block th:include="fragments/common :: head"/>
</head>
<body>
<div style="padding: 1rem;">
    <div class="jumbotron">
        <h1 class="display-4">ATS*P</h1>
        <p class="lead">Auto Task Scheduler - Prototype Version</p>
    </div>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" id="card-home-card" data-toggle="list" href="#card-home" role="tab">Home</a>
                    <a class="list-group-item list-group-item-action" id="card-resources-card" data-toggle="list" href="#card-resources" role="tab">Resources</a>
                    <a class="list-group-item list-group-item-action" id="card-tasks-card" data-toggle="list" href="#card-tasks" role="tab">Tasks</a>
                    <a class="list-group-item list-group-item-action active" id="card-gantt-card" data-toggle="list" href="#card-gantt" role="tab">Gantt</a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="card-home" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h1>Welcome!</h1>
                                <p>
                                    Some introduction here...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="card-resources" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h1>Resource Administration</h1>
                                <p>
                                    CRUD resources and arrange cost here...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="card-tasks" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h1>Task Administration</h1>
                                <p>
                                    CRUD tasks here...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="card-gantt" role="tabpanel">
                        <div class="card">
                            <div class="card-body show active">
                                <h1>Gantt Graph</h1>
                                <p>
                                    Show gantt graph here...
                                </p>
                                <div id="gantt-graph" style="width:100%; height:100%;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#card-gantt").tab("show");

    gantt.config.xml_date = "%Y-%m-%d";
    gantt.config.task_date = "%Y-%m-%d";
    gantt.config.autosize = "y";
    gantt.config.readonly = true;
    // XXX 'resize' is available in PRO only
    gantt.config.columns =  [
        {name:"text",       label:"Task name",  resize:true, tree:true,      min_width:220},
        {
            name:"resources",  label:"Resource",   resize:true, align:"center", min_width:90,
            template: function(obj){
                return "Cost < " + obj.duration;
            }
        },
        {name:"start_date", label:"Start time", resize:true, align:"center", min_width:90},
        {name:"end_date",   label:"End date",   resize:true, align:"center", min_width:90},
        {name:"duration",   label:"Duration",   resize:true, align:"center", min_width:70},
        {name:"add",        label:"",           resize:true, min_width:50 }
    ];
    gantt.templates.tooltip_text = function(start, end, task){
         return "<b>Task:</b> " + task.text + "@Level " + task.extendMeta.taskRank + "<br/>"
             + "<b>Resources:</b>" + task.dummy + "@Level " + task.dummy;
    };
    gantt.init("gantt-graph");
    gantt.load("api/loadGanttTasks");
    gantt.attachEvent("onLoadEnd", function(){
        gantt.open("1");
    });
</script>
</body>
</html>
